* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1200px; */
  /* align-items: center; */
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.card {
  background-color: #fff;
}