.app-content {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  padding: 8px;
}

@media (max-width: 768px) {
  .inner-content {
    padding: 0px;
  }
}

@media (max-width: 992px) {
  .inner-content {
    max-width: 900px;
  }
}

@media (max-width: 1200px) {
  .inner-content {
    max-width: 1000px;
  }
}